p hello, #{@user.full_name}
br
|You have been added to the sstracker system with the following information:
p Name: #{@user.full_name}
p Email: #{@user.email}
p Password: #{@password}
br
p To access your account you must login with your email and password, entering the following url
a http://www.sstracker.com
br
p We are pleased to serve you 
p Have a nice day!